*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

.ctags
.tags

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*

.Trashes

.svn
.env

/node_modules/*
*.scssc
/vendor
/local-config.php
/wp-config.php
/sql-dump-*.sql
/db-sync
/web/wp-content/upgrade/
/web/cockpit
/web/controlcentre
/.sass-cache
/composer-merge/*
/web/wp-content/plugins/*
/web/wp-content/mu-plugins/*
!/web/wp-content/mu-plugins/index.php
/web//wp-content/uploads/
/web/wp-content/themes/twenty*/
/web/wp-content/themes/timber*/
/web/wp-content/themes/woodchippr/css/
/web/wp-content/themes/woodchippr/js/
/web/wp-content/themes/woodchippr/views/partials/inline-svgsprite.twig
composer.lock
/bower_components
/web/wp-content/w3tc-config/*
