/* ==========================================================================
   Colours
   ========================================================================== */

$black:              #000000;
$white:              #ffffff;
$link-active:        #7393a7;
$dark:               #67696e;

$dark:               #575656;
$med-dark-grey:      #b3b2b2;
$med-grey:           #adadad;
$light-grey:         #ebebeb;
$white-grey:         #f5f5f5;

$bg:                 $white;





/* ==========================================================================
   Typography
   ========================================================================== */

$small:     12px;
$medium:    14px;

$bodysize:  $small;
$bodyline:  18px;

$body: 'Helvetica', 'Arial', sans-serif;





/* ==========================================================================
   Media Queries
   ========================================================================== */

$mobLand: 720px;
$tablet: 	1024px;
