.gridwrap{
	max-width: 1224px;
	margin: auto;
	position: relative;
	padding: 0 10px;
	clear: both;
	@extend .group;
	@include breakpoint($mobLand+1){
		padding: 0 20px;
	}
}

.col{
	border-top: 0;
	border-bottom: 0;
	float: left;
	background-clip:padding-box;
	position: relative;
	&--centred{
		float: none;
		margin: auto;
	}
}

.col, .colwrap{
	padding: 0 10px;
	@include breakpoint($mobLand+1){
		padding: 0 20px;
	}
}

.col--space{
  height: 30px;
}

.col__inner{
	padding: 0 20px;
}

.col--nopad{
	border: none;
	padding-left: 0;
	padding-right: 0;
}

.col--1-6, .col--1-4, .col--3-4, .col--1-3, .col--2-3, .col--1-2, .col--1, .col--5-6{
	width: 100%;
}

@include breakpoint($mobLand+1){
	.col--1-6{
		width: (100% / 6);
	}

	.col--5-6{
		width: (100% / 6)*5;
	}

	.col--1-4{
		width: (100% / 4);
	}

	.col--3-4{
		width: (100% / 4)*3;
	}

	.col--1-3{
		width: (100% / 3);
	}

	.col--2-3{
		width: (100% / 3)*2;
	}

	.col--1-2{
		width: (100% / 2);
	}

	.vcol--1-2{
		height: 50%;
	}
}
